
.button {
  display: flex;
  width: 200px;
  padding: 1em 2em;
  justify-content: center;

  border-radius: 0;
  border: 2px solid rgb(255, 255, 255);

  text-align: center;
	color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.0rem;
  letter-spacing: 2px;
  text-transform: uppercase;

	background: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 75%);
	background-position: 1% 50%;
	background-size: 400% 300%;
	
	transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  transition-delay: 200ms;
}

.button.red {
  border: 2px solid rgba(233, 0, 19, 1);
  color: rgba(233, 0, 19, 1);
  background: linear-gradient(to right, rgba(233, 0, 19, 0) 25%, rgba(233, 0, 19, 1) 75%);
  background-position: 1% 50%;
	background-size: 400% 300%;
}

.button:hover{
  color: black;
  background-position: 99% 50%;
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button.red:hover {
  color: white;
}

.button:before,
.button:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
