* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nextjs-portal {
  display: none;
}

html,
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

:root {
  --column-change: 1120px;
}

h1, p, a {
  color: white;
  text-decoration: none;
  line-height: 1.75;
}

main {
  background-color: black;
  width: 100%;
  max-width: var(--column-change);
  margin: auto;
  padding: 0;
}

section {
  height: 100vh;
  min-height: 800px;
  padding: 5vh 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
