.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-30%); 
  transition: all 1s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0); 
  transition: all 1s;
}

.title {
  font-size: 2.0rem;
  font-weight: 400;
}

.description {
  font-size: 1.0rem;
  margin: 24px 0 0 24px;
  line-height: 1.75;
}

.expandedMobileHeight {
  @media (max-width: 720px) {
    height: 120vh;
  }
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  margin: auto auto auto auto;
  padding-top: 40px;
  overflow-y: hidden;
  width: 100%;
  min-width: 300px;
  @media (max-width: 1080px) {
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding-top: 0px;
    margin-top: 0px;
  }
}

.imageContainer .image {
  width: 300px;
  margin: 0 0 40px 0;
}

.imageContainer .image .title {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 400;
  color: red;
}
.imageContainer .image .p {
  text-align: center;
  font-size: 1.0rem;
  line-height: 1.5;
}
.imageContainer .image:nth-child(2) {
  transition-delay: 50ms;
}
.imageContainer .image:nth-child(3) {
  transition-delay: 200ms;
}

.posterButton {
  position: absolute;
  bottom: 100px; 
  left: calc(50% - 100px);
  @media (max-width: 1080px) {
    position: static;
    display: block;
    margin: 10px auto 0 auto;
  }
}

.brandExplanation.hidden {
  transform: translateX(50%); 
}

.brandExplanation {
  transition-delay: 200ms;
}

.competitionDescriptions {
  display: flex;
  margin: auto;
  padding: 24px 64px 24px 64px;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 1080px) {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-self: unset;
    min-width: 300px;
    scroll-snap-type: x mandatory;
    padding: 24px 0 24px 0;
  }
}

.competitionDescriptions .itemBox {
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  width: 300px;
  min-width: 300px;
  height: 400px;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0 40px 0;
  margin: 0 0 40px 0;

  @media (max-width: 1080px) {
    margin: 0 0 0 10px;
    scroll-snap-align: start;
  }
}

.competitionDescriptions::-webkit-scrollbar {
  display: none;
}

.competitionDescriptions .itemBox .image {
  width: 80%;
  margin: 0 0 20px 0;
}

.competitionDescriptions .itemBox .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.competitionDescriptions .itemBox .content .title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 24px 0;
}

.competitionDescriptions .itemBox .content .description {
  font-size: 1.0rem;
  line-height: 1.75;
  margin: 0 0 24px 0;
}

.competitionDescriptions .itemBox .content ul.description {
  list-style-position: inside;
  list-style-type: decimal;
  text-indent: -18px;
}

.competitionDescriptions .itemBox .content .description li {
  line-height: 1.5;
  margin: 3px;
}

.competitionDescriptions .itemBox .content a {
  color: rgba(255, 0, 0, 0.676);
  margin: auto;
  text-align: center;
  align-items: center;
  cursor: pointer;
  display: block;
  bottom: 30px;
  position: absolute;
}

.imageContainer .itemBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  height: 200px;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0 40px 0;
  margin: 0 0 40px 0;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
  }
}

.itemContainer .divider {
  height: 300px;
  border: solid 1px white;

  @media (max-width: 1080px) {
    width: 80%;
    height: 0;
  }
}

.itemContainer .itemBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto auto auto;
  width: 100%;
}

.itemContainer .itemBox .title {
  font-size: 3.5rem;
  text-align: center;
  margin: 0 0 36px 0;

  @media (max-width: 1080px) {
    font-size: 2.5rem;
    margin: auto auto 24px 80px;
  }
}

.itemContainer .itemBox .description {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 0 24px 0;

  @media (max-width: 1080px) {
    font-size: 1.2rem;
    margin: 0 80px 24px auto;
  }
}

.section3Container .title {
  margin-bottom: 30px;
}
.section3Container .buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0;
  margin-bottom: 40px;

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
}

.section3Container .buttonContainer .button {
  margin: 0 20px 0 20px;
  @media (max-width: 720px) {
    margin: 4px 0 0 0;
  }
}

.brandExplanationContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  width: 100%;
  @media (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
  }
}

.brandExplanationContainer .image {
  width: 300px;
  margin: 0 0 40px 0;
  @media (max-width: 1080px) {
    display: block;
    margin: 0 auto 40px auto;
  }
}

.brandExplanationContainer .p p{
  display: flex;
  font-size: 1.0rem;
  line-height: 1.5;
  margin: 0 0 5px 100px;
  @media (max-width: 1080px) {
  font-size: 0.95rem;
    margin: 0 0 10px 0;
  }
}

.brandExplanationContainer .p p .red{
  color: rgba(233, 0, 19, 1);
  margin: 10px 0 15px 0;
  padding: 5px 0 5px 0;
}

.downArrow {
  position: absolute;
  left: calc(50% - 20px);
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: auto;
  align-items: center;
  justify-content: center;
  animation: scrollAnimation 2s linear infinite;
  @media (max-width: 1080px) {
    display: none;
  }
}

@keyframes scrollAnimation {
  0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

.section3Container {
  padding-top: 5vw;
}

.itemBox:nth-child(2) {
  transition-delay: 200ms;
}
.itemBox:nth-child(3) {
  transition-delay: 400ms;
}
.button:nth-child(2) {
  transition-delay: 300ms;
}
.button:nth-child(3) {
  transition-delay: 400ms;
}

.itemContainer .itemBox:nth-child(1) {
  transition-delay: 200ms;
}
.itemContainer .itemBox:nth-child(3) {
  transition-delay: 300ms;
}
.itemContainer .itemBox:nth-child(5) {
  transition-delay: 400ms;
}