.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-30%); 
  transition: all 1s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0); 
  transition: all 1s;
}

.backgroundImage {
  position: absolute;
  width: 100vw;
  height: 100%;
  inset: 0;
  margin: auto;
}

.title {
  font-size: 2.0rem;
  font-weight: 400;
}

.description {
  font-size: 1.0rem;
  margin: 24px 0 0 24px;
  line-height: 1.75;
}

.titleSection {
  /* height: 100vh; */
  min-height: 600px;
  @media screen and (max-width: 470px) {
    min-height: 700px;
  }
}

.imagesContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 40px;
  overflow-y: hidden;
  width: 100%;
  min-width: 300px;
  @media screen and (max-width: 1080px) {
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding-top: 0px;
    margin-top: 0px;
  }
  @media screen and (max-width: 720px) {
    min-width: 230px;
  }
}

.imagesContainer .image {
  max-width: 300px;
  width: 100%;
  margin: 0 0 40px 0;
}

.imagesContainer .image .title {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 400;
  color: red;
}
.imagesContainer .image .p {
  text-align: center;
  font-size: 1.0rem;
  line-height: 1.5;
  @media screen and (max-width: 720px) {
    font-size: 0.9rem;
  }
  
}
.imagesContainer .image:nth-child(2) {
  transition-delay: 50ms;
}
.imagesContainer .image:nth-child(3) {
  transition-delay: 200ms;
}

.posterButton {
  position: absolute;
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: 1080px) {
    position: static;
    display: flex;
    width: 100%;
    transform: translateX(0%);
    justify-content: center;
    margin: 0 0 auto 0;
  }
}

.competitionExplainSection {
  min-height: 600px;
}
.competitionExplainSection .title {
  margin-bottom: 20px;
}
.competitionExplainSection .description {
  margin-top: 10px;
}

.brandExplanation.hidden {
  transform: translateX(50%); 
}

.brandExplanation {
  transition-delay: 200ms;
}

.brandExplanationContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  width: 100%;
  @media screen and (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
  }
}

.brandExplanationContainer .image {
  max-width: 300px;
  width: 100%;
  margin: 0 0 40px 0;
  @media screen and (max-width: 1080px) {
    display: block;
    margin: 0 auto 40px auto;
  }
}

.brandExplanationContainer .p p{
  display: flex;
  font-size: 1.0rem;
  line-height: 1.5;
  margin: 0 0 5px 100px;
  @media screen and (max-width: 1080px) {
  font-size: 0.95rem;
    margin: 0 0 10px 0;
  }
}

.brandExplanationContainer .p p .red{
  color: rgba(233, 0, 19, 1);
  margin: 10px 0 15px 0;
  padding: 5px 0 5px 0;
}

.competitionDescriptions {
  display: flex;
  margin: auto;
  padding: 24px 64px 24px 64px;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 1080px) {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-self: unset;
    min-width: 300px;
    scroll-snap-type: x mandatory;
    padding: 24px 0 24px 0;
  }
}

.competitionDescriptions .itemBox {
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  width: 300px;
  min-width: 300px;
  height: 400px;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0 40px 0;
  margin: 0 0 40px 0;

  @media screen and (max-width: 1080px) {
    margin: 0 0 0 10px;
    scroll-snap-align: start;
  }
}

.competitionDescriptions::-webkit-scrollbar {
  display: none;
}

.competitionDescriptions .itemBox .image {
  width: 80%;
  margin: 0 0 20px 0;
}

.competitionDescriptions .itemBox .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.competitionDescriptions .itemBox .content .title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 24px 0;
}

.competitionDescriptions .itemBox .content .description {
  font-size: 1.0rem;
  line-height: 1.75;
  margin: 0 0 24px 0;
}

.competitionDescriptions .itemBox .content ul.description {
  list-style-position: inside;
  list-style-type: decimal;
  text-indent: -18px;
}

.competitionDescriptions .itemBox .content .description li {
  line-height: 1.5;
  margin: 3px;
}

.competitionDescriptions .itemBox .content a {
  color: rgba(255, 0, 0, 0.676);
  margin: auto;
  text-align: center;
  align-items: center;
  cursor: pointer;
  display: block;
  bottom: 30px;
  position: absolute;
}

.imageContainer .itemBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  height: 200px;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0 40px 0;
  margin: 0 0 40px 0;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 720px) {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
  }
}

.itemContainer .divider {
  height: 300px;
  border: solid 1px white;

  @media screen and (max-width: 720px) {
    width: 100%;
    height: 0;
  }
}

.itemContainer .itemBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto auto auto;
  width: 100%;
}

.itemContainer .itemBox .title {
  font-size: 3.5rem;
  text-align: center;
  margin: 0 0 36px 0;

  @media screen and (max-width: 1080px) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 720px) {
    font-size: 2.0rem;
    margin: auto auto 24px 10px;
  }
}

.itemContainer .itemBox .description {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 0 24px 0;

  @media screen and (max-width: 1080px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 720px) {
    margin: auto 10px 24px auto;
  }
}

.competitionDetail2Section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  @media screen and (max-width: 720px) {
  }
}

.competitionDetail2Container {
  padding-top: 5vw;
}

.competitionDetail2Container .title {
  margin-bottom: 30px;
}

.competitionDetail2Container .buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0;

  @media screen and (max-width: 720px) {
    flex-direction: column;
    align-items: center;
  }
}

.competitionDetail2Container .buttonContainer .button {
  margin: 0 20px 0 20px;
  @media screen and (max-width: 720px) {
    margin: 4px 0 0 0;
  }
}

@keyframes arrowAnimation {
  0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

.itemBox:nth-child(2) {
  transition-delay: 200ms;
}
.itemBox:nth-child(3) {
  transition-delay: 400ms;
}
.button:nth-child(2) {
  transition-delay: 300ms;
}
.button:nth-child(3) {
  transition-delay: 400ms;
}

.itemContainer .itemBox:nth-child(1) {
  transition-delay: 200ms;
}
.itemContainer .itemBox:nth-child(3) {
  transition-delay: 300ms;
}
.itemContainer .itemBox:nth-child(5) {
  transition-delay: 400ms;
}

.requirementsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.requirementsContainer .imageGrid {
  display: flex;
  flex-wrap: wrap;
  width: 422px;
  margin: 0 10px 0 0;
  
  @media screen and (max-width: 1000px) {
    width: 1080px;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
  }

  @media screen and (max-width: 720px) {
    width: 2000px;
    height: 180px;
  }
}

.requirementsContainer .imageGrid img {
  margin: 5px;
  width: 200px;
  height: 200px;
  @media screen and (max-width: 1000px) {
    width: 150px;
    height: 150px;
  }
  @media screen and (max-width: 720px) {
  }
}
.extraImage {
  display: none;
  @media screen and (max-width: 720px) {
    display: flex;
  }
}
.requirementsContainer .imageGrid .imageContainer {
  @media screen and (max-width: 720px) {
    animation: scrollAnimation 7s linear infinite;
  }
}

@keyframes scrollAnimation {
  0% { transform: translateX(-300px); }
  100% { transform: translateX(340pxx); }
}

.requirementsContainer .imageGrid img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.requirementsContainer .imageGrid .imageContainer:nth-child(2),
.requirementsContainer .imageGrid .imageContainer:nth-child(4) {
  transition-delay: 100ms;
  @media screen and (max-width: 720px) {
    transition-delay: 0ms;
  }
}

.requirementsContainer .requirements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 40px 0;
  padding: 0 40px 0 40px;
  transition-delay: 200ms;
  @media screen and (max-width: 1000px) {
    margin: auto;
  }
  @media screen and (max-width: 510px) {
    padding: 0;
  }
}

.requirementsContainer .requirements .title {
  font-size: 2.5rem;
  font-weight: 600;
  @media screen and (max-width: 510px) {
    font-size: 1.8rem;
  }
}

.requirementsContainer .requirements .titleDescription {
  border-left: solid 3px white;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 12px;
  margin: 12px 0;
}

.requirementsContainer .requirements .subtitle {
  font-size: 1.2rem;
  margin: 36px 0 0 0;
}

.requirementsContainer .requirements .description {
  font-size: 1rem;
  margin-top: 10px;
  list-style-position: inside;
  list-style-type: decimal;
  text-indent: -18px;
}

.receptionDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.receptionDescriptionContainer .title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 24px 0;
}

.receptionDescriptionContainer .descriptions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: clamp(400px, 100%, 1000px);
  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-right: 200px;
  }
}

.receptionDescriptionContainer .descriptions::-webkit-scrollbar {
  display: none;
}

.receptionDescriptionContainer .descriptions .itemBox {
  width: 324px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) { 
    scroll-snap-align: start;
  }
}

.receptionDescriptionContainer .descriptions .itemBox .subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin: auto;
  display: flex;
  text-align: center;
}

.receptionDescriptionContainer .descriptions .itemBox .description {
  font-size: 1.0rem;
  line-height: 1.75;
  display: flex;
  justify-self: center;
  flex-direction: column;
  border: solid 1px white;
  min-height: 320px;
  padding: 14px;
}

.receptionDescriptionContainer .descriptions .itemBox .description p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.receptionDescriptionContainer .descriptions .itemBox .description ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto auto auto;
}
.receptionDescriptionContainer .descriptions .itemBox .description ul b {
  text-align: center;
  font-size: 1.2rem;
  margin: auto auto 10px auto;
}

.receptionDescriptionContainer .descriptions .itemBox .button {
  display: block;
  align-self: center;
  margin: 2em 20px 0 20px;
}

.receptionDescriptionContainer .descriptions .itemBox:nth-child(2) {
  transition-delay: 100ms;
}

.receptionDescriptionContainer .descriptions .itemBox:nth-child(3) {
  transition-delay: 200ms;
}

.judgement .title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 24px 0;
}
.judgement .titleDescription {
  border-left: solid 3px white;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 12px;
  margin: 12px 0;
}
.judgement .container {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0 0;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
.judgement .container .itemBox {
  margin-bottom: 20px;
}
.judgement .container .itemBox .subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: red;
  margin: auto;
  display: block;
  text-align: center;
}

.judgement .container .itemBox .description {
  display: flex;
  justify-self: center;
  flex-direction: column;
}
.judgement .container .itemBox .description p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 5px;
}

.judgement .container .itemBox:nth-child(1) {
  transition-delay: 100ms;
}
.judgement .container .itemBox:nth-child(2) {
  transition-delay: 200ms;
}

.prize {
  @media screen and (max-width: 1000px) {
    min-height: 1760px;
  }
  @media screen and (max-width: 600px) {
    min-height: 1860px;
    justify-content: flex-start;
    padding: 0;
  }
  @media screen and (max-width: 374px) {
    min-height: 2060px;
  }
}

.pageview {
  display: flex;
  margin: auto;
  padding: 24px;
  justify-content: space-between;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-self: unset;
  scroll-snap-type: x mandatory;
  @media screen and (max-width: 1000px) {
    justify-content: start;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
  }
}

.pageview::-webkit-scrollbar{
  display: none;
}

.pageview .pageContainer {
  display: flex;
  flex-direction: column;
  width: 900px;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
  margin: 0 100px;
  scroll-snap-align: center;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.pageview .pageContainer .titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px 0 40px;
  margin: 0 0 40px 0;
  @media screen and (min-width: 1000px) {
    min-height: 650px;
  }
  @media screen and (max-width: 1000px) {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.pageview .pageContainer .titleContainer .imageContainer {
  width: 540px;
  @media screen and (max-width: 720px) {
    width: 100%;
    min-width: 280px;
  }
}

.pageview .pageContainer .titleContainer .title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 24px 0;
  @media screen and (max-width: 1000px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 320px) {
    font-size: 1.2rem;
  }
}

.pageview .pageContainer .descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 10px auto auto auto;
  padding: 0 40px 0 40px;
  @media screen and (max-width: 1000px) {
    margin: auto;
    align-items: space-between;
  }
  @media screen and (max-width: 940px) {
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 0;
    margin: auto;
  }
}

.pageview .pageContainer .descriptionContainer .descriptionBox {
  width: 100%;
}

.pageview .pageContainer .descriptionContainer .descriptionBox .subtitle{
  font-size: 1.4rem;
  line-height: 1.75;
  margin: 0;
  width: 450px;
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: flex;
    padding: 10px;
  }
}

.pageview .descriptionContainer .descriptionBox .description {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  list-style-position: inside;
  list-style-type: decimal;
  max-width: 450px;
  text-indent: -18px;

  @media screen and (min-width: 1000px) {
    width: 400px;
    padding: 0 10px;
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    max-width: 450px;
    display: block;
    padding: 0 20px;
    text-indent: 0px;
    margin: 14px auto 24px auto;
  }
   @media screen and (max-width: 720px) {
    margin: 14px auto 24px auto;
  }
  @media screen and (max-width: 374px) {
    width: 100%;
    padding: 10px; 
  }
}

.examplebutton {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  @media screen and (max-width: 600px) {
    margin: 10px auto auto auto;
  }
}

.pageview .descriptionContainer .descriptionBox .description li {
  line-height: 1.5;
  margin: 3px;
}


.prevButton {
  position: absolute;
  left: 1%;
  top: 50%;
  cursor: pointer;
  rotate: 90deg;
  border: solid 5px white;
  border-radius: 40px;
  padding: 5px 0 0 5px;
  width: 60px;
  height: 60px;
  transition-delay: 200ms;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.nextButton {
  position: absolute;
  right: 1%;
  top: 50%;
  cursor: pointer;
  rotate: -90deg;
  border: solid 5px white;
  border-radius: 40px;
  padding: 5px 0 0 5px;
  width: 60px;
  height: 60px;
  transition-delay: 200ms;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}